<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매 정보 게시판</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
</head>
<body>
	<h1>[ 판매 정보 게시판 ]</h1>
	
	<p><a th:href="@{/board/write}">판매글 등록</a></p>
	
	<table>
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>작성자</th>
		</tr>
		<tr th:each="list:${list}">
			<td th:text="${list.boardnum}"></td>
			<td><a th:href="@{/board/read(boardnum=${list.boardnum})}" th:text="${list.title}"></a></td>
			<td th:text="${list.memberid}"></td>
		</tr>
	</table>

</body>
</html>