<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>판매 상품 검색</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>
	$(document).ready(function() {
		init();
		$('#category').change(searchCategory);
		$('#text').keyup(searchWord);
	});

	function searchWord(){
		let keyword = $('#text').val();
		let category = $('#category option:selected').val();
		
		$.ajax({
			url: 'searchWord',
			type: 'post',
			data: { keyword: keyword, category: category },
			success: function(list){
				let str = '<table><tr><th>번호</th><th>카테고리</th><th>제목</th></tr>';
				$(list).each(function(i, ob){
					str += '<tr>';
					str += '<td>'+ob.boardnum+'</td>';
					str += '<td>'+ob.category+'</td>';
					str += '<td>'+ob.title+'</td>';
					str += '</tr>';
				});
				str += '</table>';
				$('#listDiv').html(str);
			},
			error: function(e) {
				console.log(JSON.stringify(e));
			}
		});
	}

	function searchCategory() {
		let keyword = $('#text').val();
		let category = $('#category option:selected').val();
		
		if(keyword != null || keyword != '') {
			searchWord();
			return;
		}
		
		if (category=='all') {
			init();
		};
		
		$.ajax({
			url: 'searchCategory',
			type: 'post',
			data: { category: category },
			success: function(list) {
				let str = '<table><tr><th>번호</th><th>카테고리</th><th>제목</th></tr>';
				$(list).each(function(i, ob){
					str += '<tr>';
					str += '<td>'+ob.boardnum+'</td>';
					str += '<td>'+ob.category+'</td>';
					str += '<td>'+ob.title+'</td>';
					str += '</tr>';
				});
				str += '</table>';
				$('#listDiv').html(str);
			},
			error: function(e) {
				console.log(JSON.stringify(e));
			}
		});
	}

	function init() {
		$.ajax({
			url: 'list2',
			type: 'get',
			dataType: 'json',
			success: function(list) {
				let str = '<table><tr><th>번호</th><th>카테고리</th><th>제목</th></tr>';
				$(list).each(function(i, ob){
					str += '<tr>';
					str += '<td>'+ob.boardnum+'</td>';
					str += '<td>'+ob.category+'</td>';
					str += '<td>'+ob.title+'</td>';
					str += '</tr>';
				});
				str += '</table>';
				$('#listDiv').html(str);
			},
			error: function(e) {
				console.log(JSON.stringify(e));
			}
		});
	}

</script>
</head>
<body>
	<h1>[ 판매 상품 검색 ]</h1>

	<select name="category" id="category">
		<option value="all">전체</option>
		<option value="computer">컴퓨터 및 주변기기</option>
		<option value="camera">카메라</option>
		<option value="car">자동차 용품</option>
	</select>
	<input type="text" id="text">
	
	<div id="listDiv"></div>
</body>
</html>